<div class="flex">
    <button class="pr-4" (click)="increasePageNumber(-1)">Anterior</button>
    @for (option of options(); track option) {
    <button (click)="setPage(option)" class="py-2 w-12 text-lg text-center leading-none"
        [class.bg-secondary-500]="option === currentPage()">{{option}}</button>
    }
    <button class="pl-4" (click)="increasePageNumber(1)">Próximo</button>
</div>

<pre>

currentPage: {{ currentPage()}},
pages: {{ pages()}},
itemsPerPage: {{ itemsPerPage()}},
items: {{ items()}},
options: {{ options | json }}

</pre>