<main class="grid gap-6 md:grid-cols-[1fr_auto] h-full">
    <div class="flex flex-col gap-8">
        <div>
            <app-tabs class="w-max"></app-tabs>
        </div>
        <div class="flex gap-5 grow-">
            <app-input class="w-full" [(ngModel)]="value" placeholder="testeee"></app-input>
            <app-combobox [(ngModel)]="value2" class="w-full" [options]="options" labelKey="label"
                valueKey="value"></app-combobox>
            <app-select [(ngModel)]="value3" class="w-full" [options]="options" labelKey="label"></app-select>
        </div>

        <div class="grid gap-4">
            <div class="border border-primary-500 rounded-md h-28">
                Input: {{ value }}
            </div>

            <div class="border border-primary-500 rounded-md h-28">
                Combobox: {{ value2 | json }}

            </div>
            <div class="border border-primary-500 rounded-md h-28">
                Select: {{ value3 | json }}
            </div>
        </div>
    </div>

    <div class="border border-primary-500 rounded-md w-80 h-full">

    </div>
</main>