@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Noto+Sans+Tai+Le&family=Roboto:ital,wght@0,500;0,700;0,900;1,500;1,700;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@import './styles/tables.scss';

@import '@angular/cdk/overlay-prebuilt.css';

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 200,
        'GRAD' -25,
        'opsz' 40
}

.icon-bold {
    font-variation-settings:
        'FILL' 0,
        'wght' 600,
        'GRAD' -25,
        'opsz' 40
}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    width: 100%;
    height: 100%;
    display: table;
}

body {
    width: 100%;
    display: table-cell;
}

:root {
    font-family: 'Inter', sans-serif;
}

:root {
    color: var(--text-500);

    // Background
    --background-300: hsl(205 53 15);
    --background-400: hsl(205 53 10);
    --background-500: hsl(205 53 8);
    --background-600: hsl(205 53 5);

    // Text
    --text-300: hsl(205 51 95);
    --text-400: hsl(205 51 90);
    --text-500: hsl(205 51 85);
    --text-600: hsl(205 51 80);
    --text-700: hsl(205 35 70);

    // Primary
    --primary-300: hsl(205 53 45);
    --primary-400: hsl(205 53 40);
    --primary-500: hsl(205 53 35);
    --primary-600: hsl(205 53 30);
    --primary-700: hsl(205 53 25);

    // Secondary
    --secondary-300: hsl(186 53 45);
    --secondary-400: hsl(186 53 40);
    --secondary-500: hsl(186 53 35);
    --secondary-600: hsl(186 53 30);
    --secondary-700: hsl(186 53 25);

    // Accent
    --accent-300: hsl(146 53 45);
    --accent-400: hsl(146 53 40);
    --accent-500: hsl(146 53 35);
    --accent-600: hsl(146 53 30);
    --accent-700: hsl(146 53 25);


    --cancel-500: hsl(290, 53%, 45%);


    // White
    --white-500: hsl(208 52 95);
    --white-600: hsl(208 7 85);
    --white-700: hsl(208 7 75);
}


.light {
    color: var(--text-500);
    --background-500: hsl(205, 53%, 99%);
    --text-500: hsl(205 51 10);
}

.resize-vertical {
    resize: vertical;

    &::-webkit-resizer {
        background-color: var(--background-600);
        background-image: url('./assets/resize_vertical.svg');
        background-size: contain;
    }
}

.resize-horizontal {
    resize: horizontal;

    &::-webkit-resizer {
        background-color: var(--background-600);
        background-image: url('./assets/resize_horizontal.svg');
        background-size: contain;
    }
}

.resize-both {
    resize: both;

    &::-webkit-resizer {
        background-color: var(--background-600);
        background-image: url('./assets/resize_both.svg');
        background-size: contain;
    }
}